body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



body {
	background-color: #000000;
	
}

#text{
	position: absolute;
	z-index: 2;
	top:130px;
	right:10px;
	opacity: 0.5;
	width:200px;
	height:30px;
	font-size: 25px;
}

#container{
	position:absolute;
	top: 0px;
	left:0px;
	z-index: -1;
}
#title{
	position:absolute;
	z-index: 1;
	right: 0px;
	top: 0px;
	text-align: left;
	width: 300px;
	height:220px;
	color: white;
	padding-right:10px;
	font-family: Helvetica,Arial;
}
#title p{
	font-size: 50px;
	padding-top: 0px;
	padding-left:20px;
}


/*#progressBar{
	width:1000px;
}*/
#progress{
	margin-top: 110px;
	margin-bottom: 10px;
	
	background-color: orange;
}

.progress-label {
    float: left;
    margin-left: 50%;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

#button {
			position: absolute;
			float:left;
			width: 120px; 
			margin: 5px;
			border:10px; 
			height: 30px; 
			padding-top: 10px;
			border-color: green;
			background-color: green;
			text-align: center; 
			color: white;
			z-index: 1
		}
#output_form{
		position: absolute;
			float:center;
			clear:left;
			width:25px;
			margin-left: 150px;
			margin-top: 10px;
}
#output {
			position: absolute;
			float:center;
			clear:left;
			font-size:20px; 
			width:50px;
			padding-left: 5px;
			margin: 100px, 0px, 0px, 200px;
			color:green;
			z-index: 2
}
#show{
			position: absolute;
			clear:left;
			width: 120px; 
			margin: 50px 5px;
			border:10px; 
			height: 30px; 
			padding-top: 10px;
			border-color: blue;
			background-color: blue;
			text-align: center; 
			color: white;
			z-index: 1

}

/*#loading{
	position: absolute;
	left 50%;
}*/
